@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --dark-blue: #22356F;
    --blue: #62D0DF;
    --white: #fff;
    --cream: #F4F9E2;
    --yellow: #F9B640;
    --black: #181818;
    --orange: #F55529;
    --grey: #5A5A5A;
    --light-grey: #EAF1FB;
    --none: rgba(234, 241, 251, 0);

    --base-badding: 10rem;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    color: var(--dark-blue);
}

input {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none; /* убирает серую подсветку при активации в некоторых браузерах */
    -webkit-appearance: none; /* убирает стили браузера в Chrome и Safari */
    -moz-appearance: none; /* убирает стили браузера в Firefox */
    appearance: none; /* убирает стили браузера для остальных */
}

a {
    text-decoration: none; /* убирает подчеркивание */
    color: var(--dark-blue);
}

._with-padding {
    padding: 0 var(--base-badding);
}

.header {
    position: fixed;
    min-width: 100%;
    left: 0;
    top: 0;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

ul {
    margin: 0;
    padding: 0;
}

.logo {
    color: var(--blue);
    font-size: 24px;
    font-weight: bolder;
}

.header__contact-button {
    text-transform: uppercase;
    color: var(--white);
    background-color: var(--blue);
    padding: 1.5rem 2.5rem;
    border-radius: 10rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 0 0 0;
    transform: scale(1);
    transition: transform .2s ease-in-out, box-shadow .2s ease-in-out;
}


.header__contact-button:hover {
    transform: scale(.95);
    box-shadow: 0 0 1rem var(--blue);
}

.nav {
    list-style: none;
    display: flex;
}

.cart__header {
    font-size: 48px;
    text-transform: uppercase;
    line-height: 3.9rem;
}

.nav__item {
    position: relative;
    padding: 2rem .5rem;
    margin: 0 .5rem;
    color: var(--dark-blue);
    border-bottom: .1rem solid rgba(0, 0, 0, 0);
}

.nav__item::after {
    position: absolute;
    border-radius: 10rem;
    background-color: red;
    content: "";
    height: .5rem;
    width: .5rem;
    transform: scale(0);
    transition: transform .2s ease-in-out;
}

.nav__item:hover:after {
    transform: scale(1);
}

.nav__item_active {
    border-bottom: .1rem solid var(--dark-blue);
}

.block {
    background: var(--cream) url(../images/first-block-background.png);
    background-size: 53rem;
    background-repeat: no-repeat;
    background-position-x: calc(100% + var(--base-badding));
}

.cart {
    max-width: 34rem;
    padding: 17rem 0 3rem;
}

.cart__text {
    font-size: 24px;
    line-height: 2.5rem;
}

.cart__button {
    padding: 1.1rem 2rem;
    text-transform: uppercase;
    margin-right: 1rem;
    font-weight: bolder;
    color: var(--yellow);
    cursor: pointer;
}

.cart__button_primary {
    color: var(--white);
    background-color: var(--yellow);
}

.cart-list-example {
    background-color: var(--black);
    display: flex;
    justify-content: space-around;

    margin: 5rem 0;
}

.cart-list-example__contact {
    width: 20rem;
    height: 10rem;
}

.cart-list-example__cart {
    display: flex;
    justify-content: space-between;
}

.cart-list-example__number-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.cart-list-example__number {
    color: var(--white);
    font-weight: bold;
    font-size: 1.3rem;
    margin-right: 1rem;
}

.cart-list-example__content-header {
    color: var(--white);
    margin: .8rem .7rem 1rem 0;
    border-top: .1rem solid var(--white);
    padding-top: .4rem;
    flex-grow: 1;
}

.cart-list-example__content-header-block {
    display: flex;
    justify-content: space-between;
}

.cart-list-example__content-header-arrow {
    padding: 1rem;
    min-height: .8rem;
    min-width: .8rem;
    border-radius: 5rem;
    align-self: flex-start;
    background: var(--orange) url("../images/arrow.svg") center no-repeat;
}

.cart-list-example__content-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.cart-list-example__content-list-lint {
    color: var(--grey);
    transition: color .4s ease;
    margin-right: 1.4rem;
}

.cart-list-example__content-list-item {
    display: flex;
    align-items: center;
}

.cart-list-example__content-list-lint:hover {
    color: var(--white);
}

.cart-list-example__content-check-icon {
    width: 1rem;
    height: 1rem;
    border-radius: 10rem;
    margin-right: .5rem;
    background: var(--orange) url("../images/check.svg") center no-repeat;
}

.button-hover {
    display: flex;
    justify-content: center;
    margin: 10rem 0;
}

.button-container {
    position: absolute;
    display: flex;
    padding: .9rem 1.2rem;
    border: .08rem solid var(--none);
    border-radius: 1rem;
    left: -.5rem;
    top: .2rem;
    transition: border-color  .2s ease;
}

.button-container__wrapper:hover .button-container {
    border-color: var(--light-grey);
}

.button-container__wrapper:hover {
    border-color: var(--light-grey);
}

.button-image {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 20rem;
    margin-right: 1rem;
    background: var(--orange) url("../images/vector.svg") center no-repeat;
    background-size: 50%;
}

.button-container__wrapper {
    position: relative;
    min-height: 5rem;
    min-width: 7rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: border-color  .2s ease;
    border: .08rem solid var(--none);
}

.button-hover__button {
    font-size: 1.3rem;
}